@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Signika&display=swap);

body {
    margin:0;
    font-family: 'Signika';
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #1A1C20;

}

.container{
    margin:0 auto;
    .logo {
        position: absolute;
        width: 218px;
        height: 26px;
        left: 34px;
        top: 29px;
    
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 25px;
    
        color: rgba(244, 244, 244, 0.6);
    
    }

    .navigation{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 1865px;
        top: 29px;
        .menu-img{
            background: rgba(244, 244, 244, 0.6);
        }
    }

     .top-left{
        
        position: relative;
        width: 360px;
        height: 360px;
        left: 376px;
        top: 171px;

        background: rgba(240, 165, 0, 0.6);

        img{
            max-height: 50%;
            max-width: 50%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    
        
        
    }

    
    .top-right{
        .box2{
            position: absolute;
            width: 360px;
            height: 360px;
            left: 879px;
            top: 171px;

            background: rgba(240, 165, 0, 0.6);

            img{
                max-height: 50%;
                max-width: 50%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

    .bottom-left{
        .box3{
            position: absolute;
            width: 360px;
            height: 360px;
            left: 632px;
            top: 426px;
            background: rgba(207, 117, 0, 0.6);


            img{
                max-height: 50%;
                max-width: 50%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

        

    .bottom-right{
        .box4{
            position: absolute;
            width: 360px;
            height: 360px;
            left: 1134px;
            top: 426px;

            background: rgba(207, 117, 0, 0.6);

            img{
                max-height: 50%;
                max-width: 50%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

            



        }
    }
 


    

}
 .get-started {
    background-color: #f4f4f4;
    .get-started-button{
        position: absolute;
        width: 534.02px;
        height: 63px;
        left: 693px;
        top: 915px;

        font-family: 'Signika';
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 26px;
        text-align: center;

        color: rgba(26, 28, 32, 0.75);
        
    }
}

.profile-ellipse{
  border-radius:500px;
	background-color:rgba(240.00000089406967, 165.00000536441803, 0, 0.6000000238418579);
	opacity:1;
	width:390px;
  height:390px;
  
  position: absolute;
  left: 525px;
  top: 135px;
}

.choose-products-button{

    background-color:rgba(244.0000006556511, 244.0000006556511, 244.0000006556511, 0.6000000238418579);
    opacity:1;
    width:304px;
    height:62px;
    left: 235px;
    top: 751px;
    position: absolute;

    font-family: 'Signika';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-align: center;

    color: rgba(26, 28, 32, 0.75);

  }

  .username{
    color:rgba(207.00000286102295, 117.00000062584877, 0, 0.6000000238418579);
    opacity:1;
    width:577px;
    height:54px;
    font-family:'Signika';
    text-align:center;
    font-size:42px;
    letter-spacing:0;
    line-height:'undefined';
    position: absolute;
    width: 577px;
    height: 54px;
    left: 431px;
    top: 596px;

  }

  .create-group-button{
    
    background-color:rgba(244.0000006556511, 244.0000006556511, 244.0000006556511, 0.6000000238418579);
    opacity:1;
    width:304px;
    height:62px;
    font-family: 'Signika';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    left: 598px;
    top: 751px;
    color: rgba(26, 28, 32, 0.75);

  }

  .view-groups-button{
    background-color:rgba(244.0000006556511, 244.0000006556511, 244.0000006556511, 0.6000000238418579);
    opacity:1;
    width:304px;
    height:62px;
    font-family: 'Signika';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    left: 961px;
    top: 751px;
    color: rgba(26, 28, 32, 0.75);
  }

